* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(img/photo.avif);
  background-size: cover;
}

.time-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.big-text {
  font-size: 7rem;
  line-height: 2;
}
.count-el {
  text-align: center;
}
.count-el span {
  font-weight: 500;
  font-size: 1.5rem;
}
